<!-- src/app/layout/paused-workout/paused-workout.component.html -->

<div *ngIf="workoutService.isPausedSession()"
  class="paused-workout-banner bg-primary dark:bg-primary-dark rounded-lg border-2 rounded-b-none border-b-0 border-primary-light/80 animate-slide-in-up">

  <div class="banner-content-wrapper flex items-center justify-between gap-4 p-2 px-4">

    <!-- Information section -->
    <div class="flex items-center gap-3 min-w-1 text-white">
      <app-icon name="pause" class="h-6 w-6 flex-shrink-0"></app-icon>
      <div class="min-w-0">
        <p class="text-sm font-semibold truncate text-white">
          {{ pausedRoutineName() }}
        </p>
        <p class="text-xs opacity-80 text-white">
          {{ 'pausedWorkout.status' | translate }}
        </p>
      </div>
    </div>

    <!-- Actions section -->
    <div class="flex items-center gap-2 flex-shrink-0">
      <button appPress (shortPress)="resumeWorkout()"
        class="flex items-center gap-1.5 px-3 py-1 bg-white/20 hover:bg-white/30 rounded-md transition">
        <app-icon name="play" class="h-5 w-5 text-white"></app-icon>
        <!-- <span class="text-sm font-bold text-white">{{ 'pausedWorkout.resumeButton' | translate }}</span> -->
      </button>

      <button appPress (shortPress)="discardWorkout()" class="p-2 hover:bg-white/20 rounded-full transition"
        [title]="'pausedWorkout.discardTooltip' | translate">
        <app-icon name="trash" class="h-5 w-5 text-white"></app-icon>
      </button>
    </div>

  </div>
</div>