<!-- src/app/shared/components/action-menu/action-menu.component.html -->
<ng-container [ngSwitch]="displayMode">
    <!-- Dropdown Mode -->
    <div *ngSwitchCase="'dropdown'">
        <div *ngIf="isVisible" [@dropdownMenu] [ngClass]="dropdownMenuClass">
            <div class="flex flex-col gap-y-1">
                <ng-container *ngFor="let item of items">
                    <div *ngIf="item.isDivider" class="my-0.5 sm:my-1 border-t border-gray-200 dark:border-gray-600">
                    </div>
                    <button *ngIf="!item.isDivider" type="button" (click)="onItemClicked($event, item)"
                        [ngClass]="defaultDropdownButtonClass + ' ' + item.buttonClass"
                        class="transition-colors duration-150 ease-in-out">
                        <span *ngIf="getIconHtml(item) as iconHtml" [innerHTML]="iconHtml"
                            [ngClass]="item.iconClass || 'w-5 h-5 mr-2'">
                        </span>
                        {{ item.label }}
                    </button>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- 
      +++ Modal Mode is now handled by the AlertService, so this case is empty. +++
      The component itself renders nothing. 
    -->
    <div *ngSwitchCase="'modal'"></div>

    <!-- Compact Bar Mode -->
    <div *ngSwitchCase="'compact'">
        <div *ngIf="isVisible" [@compactBar] [ngClass]="compactBarClass + gridClass">
            <ng-container *ngFor="let item of items">
                <!-- <div *ngIf="item.isDivider" class="my-1 border-t border-gray-200 dark:border-gray-600"></div> -->
                <button *ngIf="!item.isDivider" type="button" (click)="onItemClicked($event, item)" [title]="item.label"
                    [ngClass]="defaultCompactButtonClass + ' ' + item.buttonClass"
                    class="transition-colors duration-150 ease-in-out">
                    <span *ngIf="getIconHtml(item) as iconHtml" [innerHTML]="iconHtml"
                        [ngClass]="item.iconClass || 'w-6 h-6 mr-3'">
                    </span>
                    <span *ngIf="showLabelInCompact(item)" class="truncate">{{ item.label }}</span>
                </button>
            </ng-container>
        </div>
    </div>
</ng-container>

<div class="hidden dark:hover:text-gray-100"></div>